h1,
h2,
h3,
h4,
h5 {
  font-size: 24px;
  font-family: Lato, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: $white;

  small {
    display: block;
    margin-top: 8px;
    font-family: Lato, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
  }
}
