*::-webkit-input-placeholder {
  color: $placeholder-color;
}

*:-moz-placeholder {
  color: $placeholder-color;
}

*::-moz-placeholder {
  color: $placeholder-color;
}

*:-ms-input-placeholder {
  color: $placeholder-color;
}
