.banner {
  display: inline-block;
  width: 100%;
  height: 500px;
  background-image: url("../images/cabeleireiros.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 76px;
  padding: 160px 15px 0;

  @include media-small {
    padding-top: 120px;
  }

  @include media-x-small {
    padding-top: 90px;
  }
}
