.button {
  background-color: $white;
  color: $strong-gray;
  font-size: 14px;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $strong-gray;
  transition: background-color 0.2s ease-in-out;
  margin-top: 30px;

  &:hover {
    cursor: pointer;
    background-color: $soft-gray;
  }

  &:hover, &:focus {
    outline: none;
  }
}
