.card {
  display: block;
  width: calc(100% - 60px);
  max-width: 550px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid $soft-gray;

  &--on-center {
    margin: 0 auto;
  }

  &__title {
    display: block;
    color: $soft-blue;
    font-size: 22px;
    text-align: center;
    padding-bottom: 15px;
    margin: 45px 60px 10px;
    border-bottom: 2px solid rgba(19, 147, 246, 0.2);

    small {
      display: block;
      margin-top: 6px;
      font-size: 16px;
      font-weight: normal;
      font-style: italic;
    }
  }
}
