.form {
  padding: 0 60px 45px;

  &__group, &__check {
    display: table;
    width: 100%;
  }

  &__description {
    float: left;
    display: inline-block;
    width: 100%;
    font-family: Lato, Arial, sans-serif;
    font-size: 12px;
    color: $medium-gray;
  }
}
