.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
  background-color: $white;
  box-shadow: 0 0 7px rgba(74, 74, 74, 0.2);

  &__logo {
    display: block;
    margin: 0 auto;
  }
}
