.tab {
  &__content {
    display: none;

    &--active {
      display: block;
    }
  }

  &__menu {
    display: table;
    width: 100%;
    background-color: $soft-gray;
  }

  &__button {
    width: 50%;
    display: inline-block;
    text-align: center;
    border-radius: 0 0 5px 5px;
    border: 0;
    box-shadow: none;
    padding: 15px 10px;
    font-family: Lato, Arial, sans-serif;
    font-size: 12px;
    color: $medium-blue-gray;

    &--active {
      background-color: $white;
      color: $strong-blue-gray;
    }
  }
}
