* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%; }

*::-webkit-input-placeholder {
  color: #75757D; }

*:-moz-placeholder {
  color: #75757D; }

*::-moz-placeholder {
  color: #75757D; }

*:-ms-input-placeholder {
  color: #75757D; }

.col {
  width: 100%;
  display: block; }
  .col--half {
    width: 50%;
    display: inline-block; }
    .col--half:first-child {
      padding-right: 7.5px; }
    .col--half:last-child {
      padding-left: 7.5px; }

@media screen and (max-width: 992px) {
  .col {
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: 15px; }
    .col:last-child {
      margin-bottom: 0; }
    .col--half:first-child {
      padding-right: 0; }
    .col--half:last-child {
      padding-left: 0; }
    .col--small--half {
      width: 50%;
      display: inline-block; } }

.row {
  width: 100%;
  margin-bottom: 15px; }
  .row:last-child {
    margin-bottom: 0; }

.container {
  display: block;
  width: 990px;
  margin: 0 auto; }
  @media screen and (max-width: 992px) {
    .container {
      width: 460px; } }
  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
      padding: 0 15px; } }

h1,
h2,
h3,
h4,
h5 {
  font-size: 24px;
  font-family: Lato, Arial, sans-serif;
  margin: 0;
  padding: 0; }

.page-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF; }
  .page-title small {
    display: block;
    margin-top: 8px;
    font-family: Lato, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    font-style: italic; }

a,
a:hover,
a:focus,
a:visited {
  font-family: Lato, Arial, sans-serif;
  text-decoration: none;
  color: #1393F6; }

.footer {
  background-color: #333;
  padding: 60px 15px;
  text-align: center; }

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 7px rgba(74, 74, 74, 0.2); }
  .header__logo {
    display: block;
    margin: 0 auto; }

.banner {
  display: inline-block;
  width: 100%;
  height: 500px;
  background-image: url("../images/cabeleireiros.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 76px;
  padding: 160px 15px 0; }
  @media screen and (max-width: 992px) {
    .banner {
      padding-top: 120px; } }
  @media screen and (max-width: 480px) {
    .banner {
      padding-top: 90px; } }

.wrapper {
  display: inline-block;
  width: 100%;
  margin: -115px 0 90px; }

.card {
  display: block;
  width: calc(100% - 60px);
  max-width: 550px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #E1E1E1; }
  .card--on-center {
    margin: 0 auto; }
  .card__title {
    display: block;
    color: #1393F6;
    font-size: 22px;
    text-align: center;
    padding-bottom: 15px;
    margin: 45px 60px 10px;
    border-bottom: 2px solid rgba(19, 147, 246, 0.2); }
    .card__title small {
      display: block;
      margin-top: 6px;
      font-size: 16px;
      font-weight: normal;
      font-style: italic; }

.button {
  background-color: #FFFFFF;
  color: #474747;
  font-size: 14px;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #474747;
  transition: background-color 0.2s ease-in-out;
  margin-top: 30px; }
  .button:hover {
    cursor: pointer;
    background-color: #E1E1E1; }
  .button:hover, .button:focus {
    outline: none; }

.button--primary {
  border: 0;
  color: #FFFFFF;
  background-color: #1393F6; }
  .button--primary:hover {
    background-color: #1272D5; }

.button--large {
  font-size: 22px; }

.button--fluid {
  width: 100%; }

.button--disabled, .button:disabled, .button:active {
  background-color: #E1E1E1;
  box-shadow: none;
  border: 0; }
  .button--disabled:hover, .button:disabled:hover, .button:active:hover {
    cursor: not-allowed; }

.form {
  padding: 0 60px 45px; }
  .form__group, .form__check {
    display: table;
    width: 100%; }
  .form__description {
    float: left;
    display: inline-block;
    width: 100%;
    font-family: Lato, Arial, sans-serif;
    font-size: 12px;
    color: #A7A7A7; }

.form__input {
  min-height: 44px;
  padding: 13px 10px;
  border: 1px solid rgba(19, 147, 246, 0.5);
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #474747;
  background-color: #EFF4FA;
  transition: border 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  width: 100%; }
  .form__input:last-child {
    margin-bottom: 0; }
  .form__input:hover, .form__input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px rgba(18, 114, 213, 0.5); }
  .form__input--large {
    font-size: 22px; }
  .form__input--error {
    border-color: #B24141; }
    .form__input--error:hover, .form__input--error:focus {
      box-shadow: 0 0 1px 1px rgba(178, 65, 65, 0.5); }

.form select {
  height: 44px; }

.form__check {
  list-style: none; }
  .form__check .form__label {
    z-index: 9;
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
    color: #A7A7A7;
    padding: 9px 0;
    padding-left: 28px;
    margin: 0; }
    .form__check .form__label::before {
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      box-shadow: inset 0 0 0 1px rgba(83, 110, 123, 0.3);
      border-radius: 4px;
      background-color: #EFF4FA;
      content: '';
      text-align: center;
      transition: all 0.2s ease-in-out; }
  .form__check__box {
    opacity: 0;
    visibility: hidden;
    display: none; }
  .form__check__box:checked + .form__label::before {
    color: #FFFFFF;
    background-color: #1393F6;
    background-repeat: no-repeat;
    background-position: center center;
    content: '\2713'; }

.form__label {
  display: block;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #474747;
  margin: 10px 0 8px; }
  .form__label a {
    font-weight: normal;
    font-size: 12px;
    margin-left: 5px; }

.form__alert {
  font-weight: bold;
  color: #1393F6;
  font-family: Lato, Arial, sans-serif;
  font-size: 18px;
  margin: 30px 0 15px; }
  .form__alert small {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #a7a7a7; }

.form__message {
  display: none;
  width: 100%;
  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  margin-top: 7px; }
  .form__message--error {
    display: block;
    color: #B24141; }

.tab__content {
  display: none; }
  .tab__content--active {
    display: block; }

.tab__menu {
  display: table;
  width: 100%;
  background-color: #E1E1E1; }

.tab__button {
  width: 50%;
  display: inline-block;
  text-align: center;
  border-radius: 0 0 5px 5px;
  border: 0;
  box-shadow: none;
  padding: 15px 10px;
  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  color: #9BA6AB; }
  .tab__button--active {
    background-color: #FFFFFF;
    color: #536E7B; }

.logo {
  display: block;
  margin: 0 auto 15px; }
