$soft-blue:      #1393F6;
$medium-blue:    #1272D5;
$strong-blue:    #1B6C8C;

$white: #FFFFFF;

$soft-gray:   #E1E1E1;
$medium-gray: #A7A7A7;
$strong-gray: #474747;

$soft-blue-gray:   #EFF4FA;
$medium-blue-gray: #9BA6AB;
$strong-blue-gray: #536E7B;

$placeholder-color: #75757D;

$strong-red: #B24141;
