@include media-small {
  .col {
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &--half {
      &:first-child { padding-right: 0; }
      &:last-child  { padding-left: 0; }
    }

    &--small {
      &--half {
        width: 50%;
        display: inline-block;
      }
    }
  }
}
