.form {
  &__alert {
    font-weight: bold;
    color: $soft-blue;
    font-family: Lato, Arial, sans-serif;
    font-size: 18px;
    margin: 30px 0 15px;

    small {
      display: block;
      width: 100%;
      margin-top: 5px;
      font-size: 14px;
      font-weight: normal;
      color: #a7a7a7;
    }
  }
}
