.form {
  &__check {
    list-style: none;

    .form__label {
      z-index: 9;
      position: relative;
      display: inline-block;
      width: 100%;
      font-family: Lato, Arial, sans-serif;
      font-size: 14px;
      color: $medium-gray;
      padding: 9px 0;
      padding-left: 28px;
      margin: 0;

      &::before {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        box-shadow: inset 0 0 0 1px rgba(83,110,123,0.3);
        border-radius: 4px;
        background-color: $soft-blue-gray;
        content: '';
        text-align: center;
        transition: all 0.2s ease-in-out;
      }
    }

    &__box {
      opacity: 0;
      visibility: hidden;
      display: none;
    }

    &__box:checked + .form__label::before {
      color: $white;
      background-color: $soft-blue;
      background-repeat: no-repeat;
      background-position: center center;
      content: '\2713';
    }
  }
}
