.form {
  &__input {
    min-height: 44px;
    padding: 13px 10px;
    border: 1px solid rgba(19, 147, 246, 0.5);
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: $strong-gray;
    background-color: $soft-blue-gray;
    transition: border 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover, &:focus {
      outline: none;
      box-shadow: 0 0 1px 1px rgba(18,114,213,0.5);
    }

    &--large {
      font-size: 22px;
    }

    &--error {
      border-color: $strong-red;

      &:hover, &:focus {
        box-shadow: 0 0 1px 1px rgba(178, 65, 65, 0.5);
      }
    }
  }

  select {
    height: 44px;
  }
}
