.form {
  &__label {
    display: block;
    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: $strong-gray;
    margin: 10px 0 8px;

    a {
      font-weight: normal;
      font-size: 12px;
      margin-left: 5px;
    }
  }
}
