.form {
  &__message {
    display: none;
    width: 100%;
    font-family: Lato, Arial, sans-serif;
    font-size: 12px;
    margin-top: 7px;

    &--error {
      display: block;
      color: #B24141;
    }
  }
}
